# Note that the naming of this file is incorrect for our case: these people do not "own" the provided files but are
# people with write-access to this repository (i.e. @Homebrew/core) who wish to approve changes to these files.
#
# Their review is required to merge PRs that change these files.
#
# To be explicit: we will never accept changes to this file adding people from outside the Homebrew GitHub
# organisation. If you are not a Homebrew maintainer: you do not personally "own" or "maintain" any formulae.
#
# Note: @Homebrew/plc does not have write-access to this repository, and therefore cannot be listed in this file.

CODEOWNERS                        @Homebrew/tsc @MikeMcQuaid
CONTRIBUTING.md                   @Homebrew/tsc @MikeMcQuaid 
tap_migrations.json               @Homebrew/tsc @MikeMcQuaid 
.github/ISSUE_TEMPLATE/           @Homebrew/tsc @MikeMcQuaid 
.github/PULL_REQUEST_TEMPLATE.md  @Homebrew/tsc @MikeMcQuaid 
LICENSE.txt                       @Homebrew/tsc @MikeMcQuaid
.github/workflows/                @Homebrew/core @MikeMcQuaid 
.github/workflows/triage.yml      @Homebrew/tsc

audit_exceptions/linux_only_gcc_dependency_allowlist.json               @Homebrew/tsc
audit_exceptions/permitted_formula_license_mismatches.json              @Homebrew/tsc @MikeMcQuaid
audit_exceptions/provided_by_macos_depends_on_allowlist.json            @Homebrew/tsc @MikeMcQuaid
audit_exceptions/universal_binary_allowlist.json                        @Homebrew/tsc @carlocab 
audit_exceptions/versioned_formula_dependent_conflicts_allowlist.json   @Homebrew/tsc @MikeMcQuaid

# TODO: Remove when https://github.com/Homebrew/homebrew-core/pull/198115 is merged.
Formula/a/apngasm.rb                 @cho-m
Formula/a/augustus.rb                @cho-m
Formula/a/avro-cpp.rb                @cho-m
Formula/a/azure-storage-cpp.rb       @cho-m
Formula/b/bastet.rb                  @cho-m
Formula/b/boost-bcp.rb               @cho-m
Formula/b/boost-build.rb             @cho-m
Formula/b/boost-mpi.rb               @cho-m
Formula/b/boost-python3.rb           @cho-m
Formula/b/boost.rb                   @cho-m
Formula/c/c10t.rb                    @cho-m
Formula/c/coal.rb                    @cho-m
Formula/c/collada-dom.rb             @cho-m
Formula/c/colmap.rb                  @cho-m
Formula/c/cpprestsdk.rb              @cho-m
Formula/c/cryfs.rb                   @cho-m
Formula/d/dspdfviewer.rb             @cho-m
Formula/d/dwarfs.rb                  @cho-m
Formula/e/edencommon.rb              @cho-m
Formula/e/eigenpy.rb                 @cho-m
Formula/f/fastnetmon.rb              @cho-m
Formula/f/fbthrift.rb                @cho-m
Formula/f/field3d.rb                 @cho-m
Formula/f/folly.rb                   @cho-m
Formula/f/freeling.rb                @cho-m
Formula/f/fuego.rb                   @cho-m
Formula/g/gearman.rb                 @cho-m
Formula/g/gnuradio.rb                @cho-m
Formula/g/gource.rb                  @cho-m
Formula/g/graph-tool.rb              @cho-m
Formula/i/i2pd.rb                    @cho-m
Formula/i/innoextract.rb             @cho-m
Formula/l/ledger.rb                  @cho-m
Formula/l/leela-zero.rb              @cho-m
Formula/l/lgogdownloader.rb          @cho-m
Formula/l/logstalgia.rb              @cho-m
Formula/lib/libphonenumber.rb        @cho-m
Formula/lib/libtorrent-rasterbar.rb  @cho-m
Formula/m/maeparser.rb               @cho-m
Formula/m/mapcrafter.rb              @cho-m
Formula/m/mapnik.rb                  @cho-m
Formula/m/metaproxy.rb               @cho-m
Formula/m/mgis.rb                    @cho-m
Formula/m/mkvtoolnix.rb              @cho-m
Formula/m/monero.rb                  @cho-m
Formula/n/ncmpcpp.rb                 @cho-m
Formula/n/nzbget.rb                  @cho-m
Formula/o/ompl.rb                    @cho-m
Formula/o/openvdb.rb                 @cho-m
Formula/o/osm2pgrouting.rb           @cho-m
Formula/o/osmium-tool.rb             @cho-m
Formula/o/osrm-backend.rb            @cho-m
Formula/p/pagmo.rb                   @cho-m
Formula/p/papilo.rb                  @cho-m
Formula/p/pcb2gcode.rb               @cho-m
Formula/p/pcl.rb                     @cho-m
Formula/p/pdns.rb                    @cho-m
Formula/p/pdnsrec.rb                 @cho-m
Formula/p/pinocchio.rb               @cho-m
Formula/p/pokerstove.rb              @cho-m
Formula/p/povray.rb                  @cho-m
Formula/p/prjtrellis.rb              @cho-m
Formula/p/proxygen.rb                @cho-m
Formula/r/rdkit.rb                   @cho-m
Formula/r/redex.rb                   @cho-m
Formula/r/rtabmap.rb                 @cho-m
Formula/s/scip.rb                    @cho-m
Formula/s/scummvm-tools.rb           @cho-m
Formula/s/sfcgal.rb                  @cho-m
Formula/s/simgrid.rb                 @cho-m
Formula/s/simple-amqp-client.rb      @cho-m
Formula/s/solidity.rb                @cho-m
Formula/s/source-highlight.rb        @cho-m
Formula/s/standardese.rb             @cho-m
Formula/s/stp.rb                     @cho-m
Formula/s/supertux.rb                @cho-m
Formula/t/tfel.rb                    @cho-m
Formula/u/uhd.rb                     @cho-m
Formula/v/vineyard.rb                @cho-m
Formula/v/visp.rb                    @cho-m
Formula/v/votca.rb                   @cho-m
Formula/v/vtk.rb                     @cho-m
Formula/w/watchman.rb                @cho-m
Formula/z/znc.rb                     @cho-m
